.container{

    background-color: rgb(236, 236, 236);

    .card-container {
        height: 21rem;
        padding: 3rem;
      }
    
      .cloud{
        border: 1px solid lightgrey;
        background-color: rgb(201, 251, 251);
        padding: 0.5rem;
      }
}
